.search {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 16px 20px;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;

  @media (max-width: 1482px) {
    max-width: 100%;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 12px;
    background-color: #ff1440;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  svg {
    width: 20px;
    height: 20px;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: .8;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 16px;
    width: 92%;
    border: none;
    outline: none;
  }
}