.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 20px;
  height: auto;
  margin-bottom: 24px;
  padding: 30px 50px;
  background: linear-gradient(180deg, rgba(247, 238, 238, 0.7) 64.06%, #F8EEEE 100%);
  border-radius: 20px;

  @media (max-width: 1250px) {
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 540px) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 1482px) {
      width: 100%;
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 16px;

      @media (max-width: 1250px) {
        font-size: 28px;
        margin-bottom: 12px;
      }
    }

    p {
      width: 77%;
      font-size: 20px;
      opacity: .8;
      margin-bottom: 32px;

      @media (max-width: 1482px) {
        width: 100%;
      }

      @media (max-width: 1250px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1250px) {
      width: 100%;
      max-width: 440px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}